* {
    margin: 0;
    padding: 0;
    font-family: "Nata Sans", sans-serif;
}

.main_box {
    background-image: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}

.btn_one i {
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    color: rgba(0, 0, 0,0.8);
    position: absolute;
    left: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.sidebar_menu {
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color:  rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 6px black;
    transition: all 0.5s ease-in;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    height: 60px ;
    box-shadow: 0 0 4px black;
    line-height: 60px;
}

.sidebar_menu .logo .pic {
    height: 45px;
    position: absolute;
    top: 7.5px;
    left: 10px;
}

.sidebar_menu .logo a {
    color: rgba(0, 0, 0,0.8);
    text-decoration: none;
    position: absolute;
    left: 50px;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i {
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
    color: grey;
    position: absolute;
    left: 270px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s linear;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li {
    padding: 15px 20px;
    margin-top: 10px;
}

.sidebar_menu .menu li i,a {
    color: rgba(0, 0, 0,0.8);
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu li a {
    margin-left: 5px;
}

.sidebar_menu .social_media {
    color: rgb(0, 0, 0);
    opacity: 0.8;
    position: absolute;
    bottom: 50px;
    left: 30%;
}

.sidebar_menu .social_media i {
    color: rgb(0, 0, 0);
    opacity: 0.8;
    margin: 0 3px;
}

#check {
    display: none;
}

.btn_one i:hover {
    font-size: 35px;
}

.btn_two i:hover {
    font-size: 30px;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px black;
}

.sidebar_menu .social_media i:hover {
    transform: scale(1.1);
    opacity: 1;
}

#check:checked ~ .sidebar_menu {
    left: 0px;
}

#check:checked ~ .btn_one i {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}